@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url("background.jfif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Quicksand", sans-serif;
}
h1 {
  text-shadow: 1.2px 1.2px #765d92;
  font-size: 3.5rem;
  padding: 2rem 0 3rem 0;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5rem;
}
form {
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2.5rem;
  margin: auto;
}
select {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  padding: 0.2rem 2rem;
  margin: 0.5rem;
  background-color: #f4f4f4;
  color: #6983aa;
  line-height: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
select:hover {
  color: #8ec6c5;
}
select:focus,
input:focus,
button:focus {
  outline: none;
}
input {
  font-size: 1.3rem;
  font-weight: 550;
  font-family: "Quicksand", sans-serif;

  padding: 0.2rem 2rem;
  margin: 0.5rem;
  background-color: #f4f4f4;
  color: #6983aa;
  line-height: 2rem;
  text-align: center;
}
button {
  width: 6.7rem;
  height: 6.5rem;
  justify-self: center;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 0.2rem;
  background-color: #f4f4f4;
  border-radius: 50%;
  color: #8566aa;
  font-size: 1.3rem;
  font-weight: 800;
}

.container-calculator {
  width: 60%;
  height: 100vh;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3rem;
  border-radius: 8px;
  color: #8566aa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.value {
  grid-column: 1/3;
}
.swap-btn {
  opacity: 0.5;
}
.divide-line {
  height: 1px;
  background-color: #8566aa;
  width: 70%;
  margin: auto;
  grid-column: 1/3;
  opacity: 0.7;
}
.exchange-rate h3,
.result h3 {
  text-transform: uppercase;
  padding: 1rem 0;
  text-shadow: 2px 2px #f4f4f4;
}

@media screen and (max-width: 768px) {
  .container-calculator {
    width: 80%;
    padding: 1% 0;
  }
  form {
    margin: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 600px) {
  .container-calculator {
    width: 90%;
    padding: 1% 0;
  }

  form {
    grid-gap: 0;
    padding: 1rem 0;
  }
  .divide-line {
    margin: 1rem auto;
  }
}
